#warning{
    width: 200px;
    height: 40px;
    background-color: rgb(14, 109, 187);
    border: 0px;
    box-shadow: 3px 0px 5px #444;
    /* border-radius: 7px; */
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -100px;
    color: #fff;
}
header{
    top:0px;
    width: 100%;
    height: 65px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1),0 1px rgba(0,0,0,.1);
    z-index: 100;
    position: fixed;
    background-color: rgb(250, 250, 250);
    border-top: 1px solid #333;
    margin-top: 0px;
}
.headerPlaceHolder{
    width: 100%;
    height: 64px;
    background-color: #fff;
}


header #view{
    margin: 0 auto;
    width: 1100px;
    
}
header #view #logo .logo-img{
    height: 60px;
}
header #view #logo h2{
    line-height: 65px;
    color: #050505;
    font-size: 26px;
}
.nav-menu{display: block;}
/* .nav-menu::before{
    content:"";
    display: table;
}
.nav-menu::after{
    content: "";
    clear: both;
} */
.nav-menu-items{
    float: left;
    height: 60px;
    margin: 0 0 0 40px;
    border-bottom-color: rgba(0,0,0,0);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.nav-menu-items:hover{
    border-bottom: 3px solid #ea0f2d !important;
}
.nav-menu-items:active{border-bottom:3px solid #ea0f2d !important;}
.nav-menu-items:link{border-bottom:3px solid #ea0f2d !important;}
.nav-menu:first-child{margin-left: 280px;}
.nav-menu-items a{
    color: rgb(72, 87, 106);
    font-size: 16px;
    line-height: 65px;
}
#nav-photo{
    width: 50px;
    height: 50px;
    background-color: #000;
    position: relative;
    top: 8px;
    left: 20px;
}
#photo-nav-list{
    height: 0px;
    position: absolute;
    width: 70px;
    box-shadow: 
    0px 0px 6px -5px #ccc, 
    0px 0px 0px #ccc, 
    0px 0px 5px #ccc, 
    0px 0px 2px #ccc;
    top:58px;
    left: -9px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
#photo-nav-list ul li{
    text-align: center;
    line-height: 30px;
    width: 70px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}
#nav-photo:hover #photo-nav-list{
    height: 180px;  
    padding: 5px 0px;
      
}
#photo-nav-list ul li:hover{
    background-color: #eee;
}
